<p>
  structure-directive works!
</p>
<button (click)="bool=!bool">Toggle</button>
<div *appUnless="bool">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui natus quas itaque iure. Cupiditate, doloribus culpa sed at placeat animi odit tenetur dignissimos quo, fuga debitis saepe distinctio itaque eius!
</div>
<hr>
<ng-container>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia deleniti impedit molestiae nemo, corporis dolorem repellat tenetur ad consectetur ipsa fugit suscipit consequatur voluptate aliquam rem hic assumenda, voluptas illo?
</ng-container>
<hr>
<ng-template>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut nesciunt quaerat ex dignissimos laudantium porro unde consectetur quisquam sequi numquam voluptate cupiditate, veniam eum nam illo aut fuga tempora eaque.
</ng-template>
<div>
    {{ '12345' | kuso }}
</div>
