<h2>My Heroes</h2>
<div>
    <label for="">
        Hero name:
        <input type="text" #heroName [(ngModel)]="heroName2">
        <div>#heroName: {{heroName}}</div>
        <div>heroName2: {{heroName2}}</div>
    </label>
    <button (click)="add(heroName.value)">add</button>
    <button (click)="add2()">add</button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/hero/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>