.post-tile {
    width: 100%;
    align-self: flex-start;
    margin: 5px;
}

.post-tile .mat-card-image {
    max-height: 300px;
}


mat-card:focus {
    background: lightblue;
}

.blog-sidebard-content {
    align-self: flex-start;
    padding-top: 100px;
    width: 95%;
}
