<div>
    <button mat-raised-button [matMenuTriggerFor]="positionMenu" #positionMenuTrigger="matMenuTrigger">巢狀選單</button>
    <mat-menu #positionMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu1" #subMenu1Trigger="matMenuTrigger">訊息1</button>
        <button mat-menu-item [matMenuTriggerFor]="subMenu2" #subMenu1Trigger="matMenuTrigger">訊息2</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [matMenuTriggerFor]="subMenu3" #subMenu1Trigger="matMenuTrigger">訊息3</button>
    </mat-menu>
    <mat-menu #subMenu1="matMenu">
        <button mat-menu-item>訊息1-1</button>
        <button mat-menu-item>訊息1-2</button>
        <button mat-menu-item>訊息1-3</button>
    </mat-menu>
    <mat-menu #subMenu2="matMenu">
        <button mat-menu-item>訊息2-1</button>
        <button mat-menu-item>訊息2-2</button>
        <button mat-menu-item>訊息2-3</button>
    </mat-menu>
    <mat-menu #subMenu3="matMenu">
        <button mat-menu-item>訊息3-1</button>
        <button mat-menu-item>訊息3-2</button>
        <button mat-menu-item>訊息3-3</button>
    </mat-menu>
    <mat-drawer-container style="height:100px;border: 1px solid black">
        <mat-drawer mode="over" #drawer>Drawer Side</mat-drawer>
        <mat-drawer-content>
            <button mat-button (click)="drawer.toggle()">toggle</button>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<div>
    <button mat-button>Material Button</button>
    <button mat-button color="primary">Material Button</button>
    <button mat-button color="accent">Material Button</button>
    <button mat-button color="warn">Material Button</button>
    <hr>
    <button mat-raised-button>Material Button</button>
    <button mat-raised-button color="primary">Material Button</button>
    <button mat-raised-button color="accent">Material Button</button>
    <button mat-raised-button color="warn">Material Button</button>
    <hr>
    <button mat-raised-button color="primary" disabled>Material Button</button>
    <hr>
    <a mat-button>Material Button</a>
    <a mat-button color="primary">Material Button</a>
    <a mat-button color="accent">Material Button</a>
    <a mat-button color="warn">Material Button</a>
    <hr>
    <a mat-raised-button>Material Button</a>
    <a mat-raised-button color="primary">Material Button</a>
    <a mat-raised-button color="accent">Material Button</a>
    <a mat-raised-button color="warn">Material Button</a>
    <hr>
    <a mat-raised-button color="primary" disabled>Material Button</a>
    <hr>
    <button mat-raised-button color="primary">
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-raised-button color="primary">
        <mat-icon>thumb_up</mat-icon>
        Icon
    </button>
    <button mat-icon-button color="primary">
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-button mat-icon-button color="primary">
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-raised-button mat-icon-button color="primary">
        <mat-icon>thumb_up</mat-icon>
    </button>
    <hr>
    <button mat-fab>
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="primary">
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="primary" disabled>
        <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab>
        <mat-icon>thumb_up</mat-icon>
    </button>
    <hr>
    <mat-button-toggle>我是的開關</mat-button-toggle>
    <mat-button-toggle-group #formatAlignGroup="matButtonToggleGroup">
        <mat-button-toggle value="left">
            <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center" checked="checked">
            <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
            <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="justify" disabled>
            <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div>對齊方式為: {{ formatAlignGroup.value }}</div>
    <hr>
    <mat-button-toggle-group multiple vertical="true">
        <mat-button-toggle #buttonToggleBold value="bold" checked="checked">
            <mat-icon>format_bold</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle #buttonToggleItalic value="italic">
            <mat-icon>format_italic</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle #buttonToggleUnderlined value="underlined" checked="checked">
            <mat-icon>format_underlined</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div>
        <div>粗體: {{buttonToggleBold.checked}}</div>
        <div>斜體: {{buttonToggleItalic.checked}}</div>
        <div>底線: {{buttonToggleUnderlined.checked}}</div>
    </div>
    <hr>
</div>
<div>
    <i class="material-icons">person</i>
    <mat-icon>person</mat-icon>
    <mat-icon color="primary">thumb_up</mat-icon>
    <mat-icon color="accent">info</mat-icon>
    <mat-icon color="warn">warning</mat-icon>
    <mat-icon svgIcon="custom-svg:angular"></mat-icon>
    <mat-icon svgIcon="custom-svg:angular" color="primary"></mat-icon>
    <mat-icon svgIcon="custom-svg:angular" color="accent"></mat-icon>
    <mat-icon svgIcon="custom-svg:angular" color="warn"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="primary"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="accent"></mat-icon>
    <mat-icon fontSet="fontawesome" fontIcon="fa-thumbs-up" color="warn"></mat-icon>
</div>
<div>
    <div class="demo-ripple-container" mat-ripple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false"
        [matRippleRadius]="10" [matRippleColor]="'pink'" [matRippleSpeedFactor]="0.5"></div>
    <div class="demo-ripple-container" mat-ripple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false"
        [matRippleRadius]="10" [matRippleColor]="'red'" [matRippleSpeedFactor]="0.5"></div>
    <div>
        <button mat-raised-button (click)="triggerRipple()">觸發漣漪效果</button>
        <button mat-raised-button (click)="clearRipple()">清除漣漪效果</button>
    </div>
</div>
