<p>
    hook-test works!
</p>

<div>{{updated}}</div>

<button (click)="hasChild=!hasChild">Toggle Child</button>
<button (click)="changeParentName()">Change Parent Name</button>
<button *ngIf="hasChild" (click)="changeName()">Change Name</button>
<button *ngIf="hasChild" (click)="toggleChildFunction()">Toggle Child Function</button>
<button (click)="hasSpy=!hasSpy">Toggle Spy</button>
<button>Empty Update</button>
<button (click)="update()">Update</button>
<button (click)="updateBoolean()">Update Boolean</button>

<app-child *ngIf="hasChild" [name]="name" [name2]="name2" (itemClick)="childItemClick($event)"></app-child>
<app-spy-parent *ngIf="hasSpy"></app-spy-parent>